Source: pgzstd
Section: database
Priority: optional
Maintainer: Graham Edgecombe <gpe@grahamedgecombe.com>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all, libzstd-dev
Standards-Version: 3.9.5
Homepage: https://www.grahamedgecombe.com/projects/pgzstd
Vcs-Git: https://github.com/grahamedgecombe/pgzstd.git
Vcs-Browser: https://github.com/grahamedgecombe/pgzstd

Package: postgresql-9.2-zstd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.2
Description: Zstandard compression module for PostgreSQL
 PostgreSQL extension providing functions for compressing and uncompressing
 Zstandard frames, with support for custom dictionaries and configuring the
 compression level.

Package: postgresql-9.3-zstd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.3
Description: Zstandard compression module for PostgreSQL
 PostgreSQL extension providing functions for compressing and uncompressing
 Zstandard frames, with support for custom dictionaries and configuring the
 compression level.

Package: postgresql-9.4-zstd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.4
Description: Zstandard compression module for PostgreSQL
 PostgreSQL extension providing functions for compressing and uncompressing
 Zstandard frames, with support for custom dictionaries and configuring the
 compression level.

Package: postgresql-9.5-zstd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.5
Description: Zstandard compression module for PostgreSQL
 PostgreSQL extension providing functions for compressing and uncompressing
 Zstandard frames, with support for custom dictionaries and configuring the
 compression level.

Package: postgresql-9.6-zstd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.6
Description: Zstandard compression module for PostgreSQL
 PostgreSQL extension providing functions for compressing and uncompressing
 Zstandard frames, with support for custom dictionaries and configuring the
 compression level.

